{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/maps.css' %}">
<link rel="stylesheet" href="{% static 'css/size.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'plugin/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
<link rel="stylesheet" href="{% static 'plugin/jqwidgets/styles/jqx.base.css' %}">
<link rel="stylesheet" href="{% static 'plugin/jqwidgets/styles/jqx.material-purple.css' %}">