{% load static %}
<script src="{% static 'plugin/tag/lovely-tag.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/demos.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxcore.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxdatetimeinput.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxcalendar.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxbuttons.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxtooltip.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxscrollbar.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxlistbox.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxdropdownlist.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/globalize.js' %}"></script>