{% load static %}
<script src="{% static 'plugin/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'plugin/bootstrap-tagsinput/typeahead.bundle.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxcore.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxdatetimeinput.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxcalendar.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxbuttons.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxtooltip.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxscrollbar.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxlistbox.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/jqxdropdownlist.js' %}"></script>
<script src="{% static 'plugin/jqwidgets/globalize.js' %}"></script>