@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
    margin-left: 10%;
    margin-right: 10%;
}

body > * {
    font-family: 'Jeju Gothic', sans-serif;
}

.f-container {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 3%;
}

.betw {
    justify-content: space-between;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.titleP {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 60pt;
    color: rgb(104, 41, 130);
    margin: 0 0 0 10px;
}

.head_div div {
    flex-basis: 130px;
}

.headitem1 {
    flex-shrink: 1;
}

.headitem2 {
    flex-shrink: 6;
    padding-top: 4%;
    font-size: 15pt;
}

.content_div {
    height: 83%;
    margin-left: 5%;
    margin-right: 5%;
}

.caret {
    float: right;
    margin-top: 7px;
}

#map {
    width: 100%;
    height: 60%;
    border: solid 3px rgb(148, 145, 145);
}

#detail_map {
    width: 100%;
    height: 65%;
    border: solid 3px rgb(148, 145, 145);
}

#searched_cards {
    border: solid 3px rgb(148, 145, 145);
    height: 24%;
}

.map_info {
    height: 92% ;
    overflow-y: auto;
}

.panel {
    font-family: 'Jeju Gothic', sans-serif;
}

.custom {
    background-color: aliceblue;
}

.btn-bebeemap {
    color: #ffffff;
    background-color: rgb(104, 41, 130);
}

#pls_regi {
    font-family: 'Jeju Gothic', sans-serif;
}

select option {
    background-color: #ffffff;
}

.modal > * {
    font-family: 'Jeju Gothic', sans-serif;
}

#lab_name {
    color: #959595;
}

.btn-bebeemap.active, .btn-bebeemap.focus, .btn-bebeemap:active, .btn-bebeemap:focus, .btn-bebeemap:hover, .open>.dropdown-toggle.btn-bebeemap {
    color: #fff;
    background-color: rgb(89, 34, 112);
    border-color: rgb(65, 26, 83);
}

.modal-body {
    overflow: auto;
}

#Progress_Loading{
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ffffff;
}

.dtl_label_info {
    background: #244953;
}

.dtl_label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 5px;
}

@media (min-width: 1200px) {
    .detail_lg_div {
        height: 100%;
        /* padding-right: o; */
    }
}
@media (min-width: 768px) {
    .detail_md_div {
        height: 96%;
        padding-right: 0;
    }
}
