.mar10 {
    margin: 10px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-bot-10 {
    margin-bottom: 10px;
}

.pad-right-0 {
    padding-right: 0;
}

.pad-right-15 {
    padding-right: 15px !important;
}

.pad-left-10 {
    padding-left: 10px;
}

.pad-0 {
    padding: 0;
}

.wid100 {
    width: 100%;
}

.wid25 {
    width: 25%;
}

.wid15 {
    width: 14%;
}