.mar-0 {
    margin: 0;
}

.mar10 {
    margin: 10px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-bot-10 {
    margin-bottom: 10px;
}

.mar-left-10 {
    margin-left: 10px;
}

.pad-right-0 {
    padding-right: 0;
}

.pad-right-15 {
    padding-right: 15px !important;
}

.pad-left-0 {
    padding-left: 0;
}

.pad-left-10 {
    padding-left: 10px;
}

.pad-top-8 {
    padding: 8px 0 0 0;
}

.pad-top-0 {
    padding-top: 0 !important;
}

.pad-top-20 {
    padding-top: 20px !important;
}

.pad-0 {
    padding: 0;
}

.wid100 {
    width: 100%;
}

.wid25 {
    width: 25%;
}

.wid15 {
    width: 14%;
}

.vertical_middle {
    vertical-align: middle;
}