{% extends 'base.html' %}
{% block content %}
    <div class="col-md-9">
        <div class="row">
            <div class="dropdown col-md-2 pad-right-0">
                <select class="btn btn-default form-control col-md-12" id="field">
                    <option value="0">전체검색</option>
                    <option value="1">상호명 검색</option>
                    <option value="2">위치 검색</option>
                </select>
            </div>
            <div class="input-group col-md-9">
                <input id="query_ipt" type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="fas fa-search" id="list_search"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="f-col col-md-3" id="info_detail_div">
        
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e4adf0fdd68c765c5871e89dda5ba30&libraries=services"></script>
    <script type="text/javascript">
        var APP = {
            map: null,
            mapList: null,
            customOverlay: null,
            overlayFlag: false,
            bounds: null,
            markers: [],
            positions: [],
        } 

        window.onload = function(){ 
            MAP.mapInit();
            listEventBind();
        };
        var MAP = {
            mapInit: function() {
                APP.mapList = JSON.parse("{{ list|escapejs }}");

                var center = getCenter(APP.mapList);

                var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
                var options = { //지도를 생성할 때 필요한 기본 옵션
                    center: new daum.maps.LatLng(center.x, center.y), //지도의 중심좌표.
                    level: 14 //지도의 레벨(확대, 축소 정도)
                };
                
                APP.map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴
                
                this.addMarker(APP.mapList);
            },
            addMarker: function(mapList) {
                // var geocoder = new daum.maps.services.Geocoder();
                APP.positions = [];
                for(var i in mapList) {
                    var tempObj = {
                        content: mapList[i].NAME,
                        latlng: new daum.maps.LatLng(mapList[i].lat, mapList[i].lng)
                    }
                    APP.positions.push(tempObj);
                }

                APP.bounds = new daum.maps.LatLngBounds();

                for (var i = 0; i < APP.positions.length; i ++) {
                    // 마커를 생성합니다
                    var marker = new daum.maps.Marker({
                        map: APP.map, // 마커를 표시할 지도
                        position: APP.positions[i].latlng // 마커의 위치
                    });

                    APP.bounds.extend(APP.positions[i].latlng);

                    // 마커에 표시할 인포윈도우를 생성합니다 
                    var infowindow = new daum.maps.InfoWindow({
                        content: APP.positions[i].content, // 인포윈도우에 표시할 내용
                        removable: true
                    });

                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    daum.maps.event.addListener(marker, 'mouseover', MAP.makeOverListener(APP.map, marker, infowindow));
                    daum.maps.event.addListener(marker, 'mouseout', MAP.makeOutListener(infowindow));

                    // daum.maps.event.addListener(marker, 'click', MAP.clickListener(APP.map, marker, infowindow));
                    APP.markers.push(marker);
                }
                
            },
            removeMarker: function() {
                if(APP.markers != null && APP.markers.length != 0) {
                    for ( var i = 0; i < APP.markers.length; i++ ) {
                        APP.markers[i].setMap(null);
                    } 
                }
                APP.markers = [];
            },
            redrawMap: function(relist) {
                MAP.removeMarker();
                APP.mapList = relist;
                if(relist.length != 0) {
                    var center = getCenter(relist);

                    APP.map.setCenter(new daum.maps.LatLng(center.x, center.y));
                    
                    MAP.addMarker(relist);
                    APP.map.setBounds(APP.bounds, 50);
                }
            },
            makeOverListener: function(map, marker, infowindow) {
                return function() {
                    infowindow.open(map, marker);
                };
            },
            makeOutListener: function(infowindow) {
                return function() {
                    infowindow.close();
                };
            },
            clickListener: function(map, marker, infowindow) {
                return function() {
                    if(APP.overlayFlag) {
                        APP.overlayFlag = false;
                        infowindow.open(map, marker);
                    } else {
                        APP.overlayFlag = true;
                        infowindow.close();
                    }
                };
            },
        };
        var SEARCH = {
            doSearch: function() {
                SEARCH.getSearchData();
                $.ajax({
                    url:'/?q='+APP.query+'&field='+APP.field,
                    dataType:'json',
                    type:'GET',
                    success:function(result){
                        MAP.redrawMap(result);
                        // alert(result);
                    },
                    done: function(result) {
                    }
                });
            },
            getSearchData: function() {
                APP.query = $("#query_ipt").val().trim();
                var selectedField = $("#field").val();
                APP.field = "";
                switch (selectedField) {
                    case "0": APP.field = ""
                        break;
                    case "1": APP.field = "NAME"
                        break;
                    case "2": APP.field = "RN_ADDR"
                        break;
                    default: APP.field = ""
                        break;
                }
            }
        }

        var INFO_D = {
            add_info_detail: function(list) {
                var info_detail_div = $("#info_detail_div");
                if(info_detail_div.children.length != 0) {
                    info_detail_div.empty();
                }

                for(var i in list) {
                    
                }
            }
        }

        function getCenter(list) {
            var xLst = [];
            var yLst = [];
            for(var i in list) {
                if(list[i].lat != null) {
                    xLst.push(list[i].lat);
                }
                if(list[i].lng != null) {
                    yLst.push(list[i].lng);
                }
            }

            var x1 = xLst.sort()[0];
            var x2 = xLst.sort()[xLst.length-1];
            var y1 = yLst.sort()[0];
            var y2 = yLst.sort()[yLst.length-1];

            var center = new Object();
            center.x = x1 + ((x2 - x1) / 2);
            center.y = y1 + ((y2 - y1) / 2);

            return center;
        }

        function listEventBind() {
            $("#list_search").click(function() {
                SEARCH.doSearch();
            });

            $("#query_ipt").on('keydown', function (e) {
                if (e.keyCode == 13) {
                    SEARCH.doSearch();
                }
            });
        }
    </script>
{% endblock %}