{% extends 'base.html' %}
{% block content %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row ">
            <div id="detail_map"></div>
        </div>
        <div class="row">
            <div id="recommend_card"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row" style="height: 95%; overflow-y: auto; overflow-x: hidden;">
            <form action="", method="POST" id="detail_box" class="form-horizontal">  
                {% csrf_token %}
                <div class="form-group">
                    <label for="NAME" class="col-sm-3 control-label">NAME</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="NAME" value="{{p_info.NAME}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="RN_ADDR" class="col-sm-3 control-label">주소</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="RN_ADDR" value="{{p_info.RN_ADDR}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TEL" class="col-sm-3 control-label pad-top-0">전화번호</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="TEL" value="{{p_info.TEL}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TAG" class="col-sm-3 control-label pad-top-0">태그</label>
                    <div class="col-sm-8">
                        {% for tag in u_info.TAG %}
                        <span class="dtl_label dtl_label_info">{{tag}}</span>
                        {% endfor %} 
                    </div>
                </div>
                <div class="form-group">
                    <label for="DESC" class="col-sm-3 control-label">평가</label>
                    <div class="col-sm-8">
                        {% if u_info.DESC != "None" %}
                        <textarea class="form-control" id="DESC" rows="5" disabled>{{u_info.DESC}}</textarea>
                        {% else %}
                        <textarea class="form-control" id="DESC" rows="5" disabled></textarea>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="OFF_DAY" class="col-sm-3 control-label pad-top-0">휴무일</label>
                    <div class="col-sm-98" id="OFF_DAY"></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">영업시간</label>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="SALES_FROM" class="col-sm-2 control-label">FROM</label>
                            <div class="col-sm-10">
                                {% if u_info.SALES_FROM != "None" %}
                                <div id="SALES_FROM" class="form-control">{{p_info.SALES_FROM}}</div>
                                {% else %}
                                <div id="SALES_FROM" class="form-control"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SALES_TO" class="col-sm-2 control-label">TO</label>
                            <div class="col-sm-10">
                                {% if u_info.SALES_TO != "None" %}
                                <div id="SALES_TO" class="form-control">{{p_info.SALES_TO}}</div>
                                {% else %}
                                <div id="SALES_TO" class="form-control"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="BREAK" class="col-sm-3 control-label">Break Time</label>
                    <div class="col-sm-8" id="BREAK">
                        {% if p_info.BREAK_FROM or p_info.BREAK_TO %}
                        <div class="form-group">
                            <label for="BREAK_FROM" class="col-sm-2 control-label">FROM</label>
                            <div class="col-sm-10">
                                <div id="BREAK_FROM" class="form-control">{{p_info.BREAK_FROM}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BREAK_TO" class="col-sm-2 control-label">TO</label>
                            <div class="col-sm-10">
                                <div id="BREAK_TO" class="form-control">{{p_info.BREAK_TO}}</div>
                            </div>
                        </div>
                        {% else %}
                        <input type="text" class="form-control" value="없음" disabled>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="TYPE" class="col-sm-4 control-label">음식유형</label>
                    <div class="col-sm-8" id="TYPE"></div>
                </div>
                <div class="form-group">
                    <label for="SUB_TYPE" class="col-sm-4 control-label">대표나라</label>
                    <div class="col-sm-8" id="SUB_TYPE"></div>
                </div>
                <div class="form-group">
                    <label for="PARKING" class="col-sm-4 control-label">주차가능여부</label>
                    <div class="col-sm-7">
                        {% if p_info.PARKING == "TRUE" %}
                        <input type="text" class="form-control" id="PARKING" value="가능" disabled>
                        {% else %}
                        <input type="text" class="form-control" id="PARKING" value="불가능" disabled>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="TRY" class="col-sm-4 control-label pad-top-0">가서 먹어본 적</label>
                    <div class="col-sm-7">
                        {% if u_info.TRY == "TRUE" %}
                        <input type="text" class="form-control" id="TRY" value="있음" disabled>
                        {% else %}
                        <input type="text" class="form-control" id="TRY" value="없음" disabled>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <!-- <input type="submit" class="btn btn-bebeemap" value="수정" style="margin-left: 50%"> -->
                </div>
            </form>
        </div>
        <div class="row">
            <div class="btn-group col-md-12 col-sm-12 col-xs-12 pad-right-0" data-toggle="buttons">
                <button type="button" class="btn btn-bebeemap wid75" data-toggle="modal" data-target="#regist_modal" data-backdrop="static" data-keyboard="false">
                    수정
                </button>
                <button type="button" class="btn btn-danger wid25" id="btn_delete">
                    삭제
                </button>
            </div>
        </div>
        {% include "mapviews/regist_modal.html" %}
    </div>
    <script type="text/javascript">
        var DTL = {
            p_info: null,
            u_info: null,
        }
        $(document).ready(function(){
            DTL.p_info = JSON.parse("{{ p_info2|escapejs }}");
            DTL.u_info = JSON.parse("{{ u_info2|escapejs }}");
            DTLMAP.mapInit();
            DTLMAP.dropdownInit();
            DTLMAP.setData();
            DTLMAP.dtlEventBind();
        });

        var DTLMAP = {
            mapInit: function(){
                var position = new daum.maps.LatLng(DTL.p_info.location.lat, DTL.p_info.location.lon);
                
                var mapContainer = document.getElementById('detail_map'), // 지도를 표시할 div 
                mapOption = { 
                    center: position, // 지도의 중심좌표
                    level: 4 // 지도의 확대 레벨
                };

                var map = new daum.maps.Map(mapContainer, mapOption);

                var marker = new daum.maps.Marker({
                    map: map,
                    position: position
                });

                var content = '<span class="dtl_label dtl_label_info">';
                    content += DTL.p_info.NAME;
                    content += '</span>';

                var customOverlay = new daum.maps.CustomOverlay({
                    map: map,
                    position: position,
                    content: content,
                    yAnchor: 5
                });
                //customOverlay.setMap(map);
            },
            dropdownInit: function() {
                var typeSource = [
                    {"KO_DESC": "식사", "TYPE": "M"}, 
                    {"KO_DESC": "음주", "TYPE": "A"}, 
                    {"KO_DESC": "디저트", "TYPE": "D"}
                ];
                creatDropDown("#TYPE");
                $("#TYPE").jqxDropDownList({source: typeSource, displayMember: "KO_DESC", valueMember: "TYPE", disabled: true});

                var subTypeSource = [];
                $.ajax({
                    url:'/api/sub_type_list/?q='+DTL.p_info.SUB_TYPE,
                    dataType:'json',
                    type:'GET',
                    async: false,
                    success:function(result){
                        subTypeSource = result;
                    }
                });
                creatDropDown("#SUB_TYPE");
                $("#SUB_TYPE").jqxDropDownList({ source: subTypeSource, displayMember: "KO_DESC", valueMember: "TYPE", disabled: true});
            },
            setData: function(){
                var off_str = "";
                var off_day = "";
                var off_week_list = [];
                if(DTL.p_info.OFF_DAY != null && DTL.p_info.OFF_DAY.length != 0) {
                    for(var i in DTL.p_info.OFF_DAY) {
                        if(DTL.p_info.OFF_DAY[i].indexOf('(') != -1 && DTL.p_info.OFF_DAY[i].indexOf(')' != -1 )) {
                            var temp_off = DTL.p_info.OFF_DAY[i].substr(0,DTL.p_info.OFF_DAY[i].length-1).split('(');
                            off_week_list = temp_off[1].split(",");
                            for(var j in off_week_list) {
                                off_str += (returnWeekName(off_week_list[j]) + "주 ");
                            }
                            off_str += returnDayName(temp_off[0]);
                        } else {
                            off_str = returnDayName(DTL.p_info.OFF_DAY[i])
                        }
                        
                        var off_day_contents = '<span class="dtl_label dtl_label_info">' + off_str + '</span>';
                        $("#OFF_DAY").append(off_day_contents);
                    }
                } else {
                    var off_day_contents = '<span class="dtl_label dtl_label_info">연중무휴</span>';
                    $("#OFF_DAY").append(off_day_contents);
                }

                $("#TYPE").jqxDropDownList('selectItem', DTL.p_info.TYPE);
                $("#SUB_TYPE").jqxDropDownList('selectItem', DTL.p_info.SUB_TYPE);
            }, 
            dtlEventBind: function() {
                $('#regist_modal').on('shown.bs.modal', function () {
                    MODAL.modalInit(name);
                });

                $('#regist_modal').on('hide.bs.modal', function () {
                    MODAL.formReset();
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                });
            }
        }

        function returnDayName(day) {
            var returnVal = "";
            switch (day) {
                case "MON" : returnVal = "월요일"; break;
                case "TUE" : returnVal = "화요일"; break;
                case "WED" : returnVal = "수요일"; break;
                case "THU" : returnVal = "목요일"; break;
                case "FRI" : returnVal = "금요일"; break;
                case "SAT" : returnVal = "토요일"; break;
                case "SUN" : returnVal = "일요일"; break;
                default    : returnVal = "";      break;
            }

            return returnVal;
        }

        function returnWeekName(week) {
            var returnVal = "";
            switch (week) {
                case "1" : returnVal = "첫번째";    break;
                case "2" : returnVal = "두번째";    break;
                case "3" : returnVal = "세번째";    break;
                case "4" : returnVal = "네번째";    break;
                case "5" : returnVal = "다섯번째";  break;
                default  : returnVal = "";         break;
            }

            return returnVal;
        }

        function creatDropDown(element) {
            $(element).jqxDropDownList({
                height: '36px',
                theme: 'material-purple',
                dropDownVerticalAlignment: 'top',
                autoDropDownHeight: true
            });
        }
    </script>
{% endblock %}