<div class="modal fade" id="regist_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Regist Place</h4>
        </div>
        <div class="modal-body">
            <div id="regi_form">
                <div class="form-group">
                    <label for="ipt_name" id="lab_name">상호명</label>
                    <div class="dropdown">
                        <input type="text" class="form-control dropdown-toggle" id="ipt_name" placeholder="입력 후 엔터">
                        <ul class="dropdown-menu" role="menu" id="view_list" style="width: 100%;"></ul>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group" style="width: 50%;">
                        <label for="p_addr" class="lab_addr">주소</label>
                        <p class="form-control-static pad-left-10" id="p_addr"></p>
                    </div>
                    <div class="form-group" style="width: 49%;">
                        <label for="p_tel" class="lab_tel">전화번호</label>
                        <p class="form-control-static pad-left-10" id="p_tel"></p>
                        <input type="hidden" id="ipt_tel" class="pad-left-10 form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ipt_tag" id="lab_tag">태그</label>
                    <div class="new-tag ">
                        <div class="tags">
                            <input type="text" placeholder="add a new tag" class="new-tag-input form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ipt_memo" id="lab_memo">한줄평</label>
                    <textarea class="form-control" rows="3" id="ipt_memo"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="btn_plus" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <i class="fas fa-plus-square"></i> 상세
                    </button>
                </div>
                <div class="form-group" id="div_detail" style="display: none;">
                    <div class="form-group">
                        <label for="chk_off_day" id="lab_off_day" class="col-md-3 pad-0">휴무일</label>
                        <div class="col-md-9 mar-bot-10">
                            <div class="btn-group mar-bot-10 wid100" data-toggle="buttons" id="chk_off_week">
                                <label class="btn btn-default wid25">
                                    <input type="checkbox" autocomplete="off" value="1"> 첫째주
                                </label>
                                <label class="btn btn-default wid25">
                                    <input type="checkbox" autocomplete="off" value="2"> 둘째주
                                </label>
                                <label class="btn btn-default wid25">
                                    <input type="checkbox" autocomplete="off" value="3"> 셋째주
                                </label>
                                <label class="btn btn-default wid25">
                                    <input type="checkbox" autocomplete="off" value="4"> 넷째주
                                </label>
                            </div>
                            <div class="btn-group wid100" data-toggle="buttons" id="chk_off_day">
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="MON"> 월
                                </label>
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="TUE"> 화
                                </label>
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="WED"> 수
                                </label>
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="THU"> 목
                                </label>
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="FRI"> 금
                                </label>
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="SAT"> 토
                                </label>
                                <label class="btn btn-default wid15">
                                    <input type="checkbox" autocomplete="off" value="SUN"> 일
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ipt_sales_time" id="lab_sales_time" class="col-md-3 pad-0">영업시간</label>
                        <div class="col-md-9 mar-bot-10" id="ipt_sales_time">
                            <div class="col-md-5">
                                <div id="ipt_sales_time_from" class="form-control"></div>
                            </div>
                            <div class="col-md-2 text-center"><span>~</span></div>
                            <div class="col-md-5">
                                <div id="ipt_sales_time_to" class="form-control col-md-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ipt_break_time" id="lab_break_time" class="col-md-3 pad-0">Break Time</label>
                        <div class="col-md-9 mar-bot-10" id="ipt_break_time">
                            <div class="col-md-5">
                                <div id="ipt_break_time_from" class="form-control"></div>
                            </div>
                            <div class="col-md-2 text-center"><span>~</span></div>
                            <div class="col-md-5">
                                <div id="ipt_break_time_to" class="form-control col-md-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sel_type" id="lab_type" class="col-md-2 pad-0">음식 유형</label>
                        <div class="col-md-4" id="sel_type_div">
                            <div id="sel_type"></div>
                        </div>
                        <label for="sel_sub_type" id="lab_sub_type" class="col-md-2 pad-0">대표 나라</label>
                        <div class="col-md-4" id="sel_sub_type_div">
                            <div id="sel_sub_type"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-bebeemap" id="btn_save">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include "mapviews/include/js.html" %}
<script type="text/javascript">
var MODAL = {
    view_list : $("#view_list"),
    mat_data : null,
    sub_type_list : null,
    modalInit: function() {
        getSubTypeList();
        MODAL.dateTimeInit();
        MODAL.modalEventBind();
        MODAL.dropdownInit();
    },
    dateTimeInit: function() {
        var elements = ["#ipt_sales_time_from", "#ipt_sales_time_to", "#ipt_break_time_from", "#ipt_break_time_to"];
        for(var i in elements) {
            creatDateTime(elements[i]);
        }
    },
    dropdownInit: function() {
        var typeSource = ["식사", "음주", "디저트"];
        creatDropDown("#sel_type");
        $("#sel_type").jqxDropDownList({source: typeSource});

        var subTypeSource = MODAL.sub_type_list;
        creatDropDown("#sel_sub_type");
        $("#sel_sub_type").jqxDropDownList({ source: subTypeSource, displayMember: "KO_DESC", valueMember: "TYPE"});
    },
    modalEventBind: function() {
        $("#ipt_name").keypress(function(e) {
            if(e.which == 13) {
                var ps = new daum.maps.services.Places();
                ps.keywordSearch($(this).val(), placesSearchCB);
            }
        });

        $("#ipt_name").focusout(function() {
            var thisVal = $(this).val();
            if(thisVal == "" || thisVal == null) {
                MODAL.view_list.empty();
                MODAL.view_list.css("display", "none");
            }
        });

        $("#btn_plus").click(function() {
            if($(this).children("i").hasClass("fa-plus-square")) {
                $(this).children("i").removeClass("fa-plus-square").addClass("fa-minus-square");
                $("#div_detail").show();
            } else {
                $(this).children("i").removeClass("fa-minus-square").addClass("fa-plus-square");
                $("#div_detail").hide();
            }
        });

        $("#btn_save").click(function() {
            var data = {
                "NAME" : $("#ipt_name").val(),
                "RN_ADDR" : $("#p_addr").text(),
                "csrfmiddlewaretoken": APP.csrftoken
            }
            $.ajax({
                url:'/api/regist_zip/',
                headers: { 'Content-Type':'text/plain; charset=utf-8' },
                dataType:'text',
                type:'POST',
                data: JSON.stringify(data),
                success:function(result){
                    console.log(result)
                }
            });
        });
    },
}

// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    MODAL.view_list.empty();
    if (status === daum.maps.services.Status.OK) {
        for(var i in data) {
            var list = '<li role="presentation" class="menu_item">'
                list += '<a role="menuitem" tabindex="-1">'
                list += ((i*1)+1) + " / " + data[i].place_name + " / " + data[i].road_address_name
                list += '</a>';
                list += '<span hidden="true">' + JSON.stringify(data[i]) + '</span>'
                list += '</li>';

            MODAL.view_list.append(list);
        }

        MODAL.view_list.css("display", "block");

        $(".menu_item").click(function() {
            MODAL.mat_data = JSON.parse($(this).children("span").text());
            console.log(MODAL.mat_data);
            $("#ipt_name").val(MODAL.mat_data.place_name);
            $("#p_addr").text(MODAL.mat_data.road_address_name);

            if(MODAL.mat_data.phone == "" || MODAL.mat_data.phone == null) {
                $("#p_tel").text("").attr("hidden", "true");
                $("#ipt_tel").prop("type", "number");
            } else {
                $("#ipt_tel").prop("type", "hidden");
                $("#p_tel").removeAttr("hidden").text(MODAL.mat_data.phone);
            }
            MODAL.view_list.empty();
            MODAL.view_list.css("display", "none");
        });
    }
}

function creatDateTime(element) {
    $(element).jqxDateTimeInput({
        dropDownVerticalAlignment: "top",
        formatString: "t", 
        showTimeButton: true, 
        showCalendarButton: false, 
        width: '100%', 
        height: '32px',
        animationType: 'slide',
        theme: 'material-purple',
        template: "default"
    });
}

function creatDropDown(element) {
    $(element).jqxDropDownList({
        width: '100%', 
        height: '36px',
        theme: 'material-purple',
        dropDownVerticalAlignment: 'top',
        autoDropDownHeight: true
    });
}

function getSubTypeList() {
    $.ajax({
        url:'/api/sub_type_list',
        dataType:'json',
        type:'GET',
        async: false,
        success:function(result){
            MODAL.sub_type_list = result;
        }
    });
}
</script>